p {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  display: block;
  border: 0;
  background-color: white;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

h1 {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 800;
  margin: 25px;
}

.input-overlay {
  padding-left: 10px;
  border-bottom: 2px solid rgb(118, 118, 118);
  width: fit-content;
  margin: 20px 15px;
  height: 50px;
  background-color: rgb(245, 248, 250);
  text-align: left;
  color: rgb(101, 119, 134);
  font-size: 15px;
  padding-top: 5px;
}
.input-overlay-focused {
  color: rgba(29, 161, 242);
  border-bottom: 2px solid rgba(29, 161, 242);
}

.login-input {
  border: 0;
  display: block;
  width: 540px;
  padding: 0;
  background-color: rgb(245, 248, 250);
  position: relative;
  top: 5px;
  font-size: 19px;
}

.login-input:focus {
  outline: 0;
}

textarea {
  border-width: 0;
  font-family: Helvetica;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 10px;
  resize: none;
  width: 100%;
}

textarea:focus {
  outline-width: 0;
}

textarea::placeholder {
  opacity: 0.5;
}

.App {
  text-align: center;
  font-family: Helvetica;
  display: inline-block;
}

.Sidebar {
  text-align: left;
  position: fixed;
  height: 100vh;
  width: 18vw;
  z-index: 1;
  top: 0;
  left: 5vw;
}

.login-container {
  width: 100vw;
  text-align: -webkit-center;
}

.static-logo {
  height: 4rem;
  display: block;
  margin: 25px 0px;
}

.forgot-password {
  color: rgb(27, 149, 224);
}

.logo {
  cursor: pointer;
  height: 3rem;
  margin-left: 10px;
  border-radius: 25px;
  margin-bottom: 5px;
}

.logo:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.sidebar-label {
  display: inline-block;
  font-size: 19px;
  font-weight: 800;
  padding: 0 20px;
  vertical-align: middle;
  margin-block-start: 0;
  margin-block-end: 0;
}

.warning {
  color: rgb(224, 36, 94);
  width: 570px;
  font-size: 15px;
}

.btn {
  font-weight: 800;
  background-color: rgba(29, 161, 242, 1);
  border-radius: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.tweet-compose-footer .btn {
  float: right;
  position: relative;
  left: 5px;
  margin-top: 10px;
}

.login-container .btn {
  display: inline-block;
  margin: 15px;
}

.btn-lg {
  width: 220px;
  padding: 15px 0px;
}

.btn-sm {
  width: 80px;
  padding: 10px 0px;
}

.btn:hover {
  background-color: rgb(26, 145, 218);
}

.btn-disabled {
  font-weight: 800;
  background-color: rgb(29, 161, 242, 0.5);
  border-radius: 25px;
  text-align: center;
  color: white;
}

.btn-disabled:hover {
  background-color: rgb(29, 161, 242, 0.5);
}

.profile-popup {
  cursor: pointer;
  position: relative;
  top: 150px;
  border: 1px solid rgb(230, 236, 240);
  border-radius: 10px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.popup-text-container {
  padding: 15px 15px;
}

.popup-text-container:hover {
  background-color: rgba(245, 248, 250);
}

.profile {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0px;
  width: 220px;
  height: 40px;
  border-radius: 25px;
}

.profile:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.id-container {
  display: inline-block;
  margin-right: 10px;
  width: 55%;
}

.profile-name {
  font-weight: 800;
}

.profile-handle {
  opacity: 0.6;
  font-weight: 400;
}
.profile-graphic-container {
  display: inline-block;
  position: relative;
}
.profile-graphic {
  height: 1.5rem;
  width: 1.5rem;
}
.profile-pic-container {
  width: fit-content;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  position: relative;
  bottom: 10px;
}
.profile-pic-overlay {
  display: inline-block;
  height: 49px;
  width: 49px;
  position: absolute;
  bottom: 4px;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  z-index: 1;
}

.Home {
  text-align: left;
  position: relative;
  height: 100vh;
  width: 600px;
  top: 0;
  left: 24vw;
}

.title-container {
  height: 50px;
  border: 1px solid rgb(230, 236, 240);
  border-top-width: 0;
}

.title {
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  font-weight: 900;
  position: relative;
  top: 15px;
  padding-left: 10px;
}

.tweet-compose-container {
  padding: 10px;
  padding-bottom: 8px;
  border: 1px solid rgb(230, 236, 240);
  border-top-width: 0;
}

.tweet-compose-footer {
  padding-right: 10px;
  left: 10%;
}

.sidebar-item-container {
  cursor: pointer;
  display: block;
  padding: 10px;
  width: fit-content;
  border-radius: 25px;
  margin: 0px 10px 10px 10px;
}

.sidebar-item-container:hover {
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}

.sidebar-graphic {
  height: 1.75rem;
  display: inline-block;
  vertical-align: middle;
}
.sidebar-graphic-container {
  display: inline-block;
}

.sort-graphic {
  fill: rgba(29, 161, 242, 1);
  height: 1.5rem;
}
.sort-graphic-container {
  height: 1.5rem;
  float: right;
  position: relative;
  cursor: pointer;
  display: initial;
  padding: 10px;
  width: fit-content;
  border-radius: 25px;
  top: 5px;
  right: 5px;
}
.sort-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.tweet-compose-graphics {
  display: inline-block;
  margin-top: 5px;
}

.tweet-compose-graphic {
  fill: rgba(29, 161, 242, 1);
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.tweet-compose-graphic-container {
  display: inline-block;
  border-radius: 25px;
  height: 1.5rem;
  padding: 8px;
}

.tweet-graphic-container {
  display: inline-block;
  border-radius: 25px;
  height: 1.25rem;
  width: 1.25rem;
  padding: 8px;
  margin-right: 95px;
  margin-top: 10px;
}

.tweet-graphic-container:hover {
  fill: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}

.retweet-graphic:hover {
  background-color: rgba(23, 191, 99, 0.1);
  fill: rgba(23, 191, 99, 1);
}
.like-graphic:hover {
  background-color: rgb(224, 36, 94, 0.1);
  fill: rgb(224, 36, 94);
}
.tweet-graphic {
  height: 1.25rem;
  width: 1.25rem;
  opacity: 0.5;
}

.tweet-compose-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.main {
  border: 1px solid rgb(230, 236, 240);
  height: 100%;
  border-top-width: 9px;
  border-bottom-width: 0;
}
.break {
  width: 98%;
  height: 1px;
  background-color: rgb(230, 236, 240);
  margin-left: 10px;
}

.tweet-form-container {
  display: inline-block;
  position: static;
  margin-top: 10px;
  width: 88%;
}

.visibility-container {
  cursor: pointer;
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 0px 5px 5px 5px;
  border-radius: 25px;
}
.visibility-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.visibility-graphic-container {
  display: inline-block;
}

.visibility-graphic {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  fill: rgba(29, 161, 242, 1);
  margin-top: 5px;
  vertical-align: middle;
}

.visibility-message {
  display: inline-block;
  color: rgba(29, 161, 242, 1);
  font-size: 13px;
  font-weight: 800;
  margin-left: 5px;
  vertical-align: -webkit-baseline-middle;
}

.character-display-container {
  vertical-align: middle;
  align-items: center;
  float: right;
  position: relative;
  right: 20px;
  top: 8px;
}

.character-display-graphic {
  transform: rotate(270deg);
  z-index: 2;
}

.char-count {
  text-align: center;
  position: relative;
  bottom: 30px;
  z-index: 1;
}
.tweets-container {
  margin-top: 5px;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.tweet-container {
  min-height: 80px;
  cursor: pointer;
}
.tweet-container:hover {
  background-color: rgb(245, 248, 250);
}

.profile-pic {
  border-radius: 25px;
}
.profile-pic-med {
  height: 49px;
}
.profile-pic-sm {
  height: 38px;
}
.tweet-main {
  display: inline-block;
  width: 88%;
  padding-top: 5px;
}

.tweet-header div {
  display: inline-block;
  padding: 2px;
}
.tweet-name {
  font-weight: 800;
}
.tweet-name:hover {
  text-decoration: underline;
}
.tweet-username {
  opacity: 0.5;
}
.tweet-date {
  opacity: 0.5;
}
.divider {
  opacity: 0.5;
  bottom: 4px;
  position: relative;
}
.tweet-text {
  padding-left: 3px;
  padding-top: 3px;
}
.tweet-header-graphic-container {
  border-radius: 25px;
  height: 1rem;
  width: 1rem;
  padding: 6px !important;
  float: right;
}
.tweet-header-graphic-container:hover {
  fill: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}
.tweet-header-graphic {
  height: 1rem;
  width: 1rem;
  opacity: 0.5;
  margin-right: 10px;
}
