p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  border: 0;
  background-color: white;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

h1 {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 800;
  margin: 25px;
}
.hashtag {
  color: rgb(27, 149, 224);
  cursor: pointer;
}
.hashtag:hover {
  text-decoration: underline;
}
.show-thread {
  color: rgb(27, 149, 224);
  cursor: pointer;
  width: auto;
  height: 25px;
  padding-left: 70px;
  padding-top: 5px;
}
.show-thread:hover {
  background-color: rgb(245, 248, 250);
}
.replying-to {
  color: rgb(101, 119, 134);
  font-size: 15px;
  padding: 2px;
}

.handle {
  color: rgb(27, 149, 224);
  cursor: pointer;
  z-index: 9999;
}
.handle:hover {
  text-decoration: underline;
}
.tweet-link {
  width: 100%;
  height: 100%;
}
.profile-link {
  color: rgb(27, 149, 224);
  cursor: pointer;
}
.input-overlay {
  padding-left: 10px;
  border-bottom: 2px solid rgb(118, 118, 118);
  width: fit-content;
  margin: 20px 15px;
  height: 50px;
  background-color: rgb(245, 248, 250);
  text-align: left;
  color: rgb(101, 119, 134);
  font-size: 15px;
  padding-top: 5px;
}
.input-overlay-focused {
  color: rgba(29, 161, 242);
  border-bottom: 2px solid rgba(29, 161, 242);
}

.login-input {
  border: 0;
  display: block;
  width: 540px;
  padding: 0;
  background-color: rgb(245, 248, 250);
  position: relative;
  top: 5px;
  font-size: 19px;
}

.login-input:focus {
  outline: 0;
}

textarea {
  border-width: 0;
  font-family: Helvetica;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 10px;
  resize: none;
  width: 95%;
}

textarea:focus {
  outline-width: 0;
}

textarea::placeholder {
  opacity: 0.5;
}

.App {
  text-align: center;
  font-family: Helvetica;
  display: inline-block;
}

.sidebar {
  text-align: left;
  position: fixed;
  height: 100vh;
  width: 18vw;
  top: 0;
  left: 5vw;
}

.login-container {
  width: 100vw;
  text-align: -webkit-center;
}

.static-logo {
  height: 4rem;
  display: block;
  margin: 25px 0px;
}

.sign-up {
  color: rgb(27, 149, 224);
}

.logo {
  cursor: pointer;
  height: 3rem;
  margin-left: 10px;
  border-radius: 25px;
  margin-bottom: 5px;
}

.logo:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.loading-logo {
  cursor: unset;
  height: 7rem;
  position: absolute;
  left: 45vw;
  top: 40vh;
  margin: 0;
}
.loading-logo:hover {
  background-color: initial;
}

.sidebar-label {
  display: inline-block;
  font-size: 19px;
  font-weight: 800;
  padding: 0 20px;
  vertical-align: middle;
  margin-block-start: 0;
  margin-block-end: 0;
}

.warning {
  color: rgb(224, 36, 94);
  width: 570px;
  font-size: 15px;
}

.btn {
  font-weight: 800;
  background-color: rgba(29, 161, 242, 1);
  border-radius: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.tweet-compose-footer .btn {
  float: right;
  position: relative;
  left: 5px;
  margin-top: 10px;
}

.login-container .btn {
  display: inline-block;
  margin: 15px;
}

.btn-lg {
  width: 220px;
  padding: 15px 0px;
}

.btn-sm {
  width: 80px;
  padding: 10px 0px;
}

.btn-med {
  width: 140px;
  padding: 10px 0px;
}

.btn:hover {
  background-color: rgb(26, 145, 218);
}

.btn-disabled {
  font-weight: 800;
  background-color: rgb(29, 161, 242, 0.5);
  border-radius: 25px;
  text-align: center;
  color: white;
}

.btn-disabled:hover {
  background-color: rgb(29, 161, 242, 0.5);
}
.popup {
  cursor: pointer;
  position: absolute;
  border: 1px solid rgb(230, 236, 240);
  border-radius: 10px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.profile-popup {
  bottom: 75px;
}
.tweet-popup {
  width: max-content;
  z-index: 99999;
  right: 0;
}
.tweet-popup:hover {
  background-color: rgba(245, 248, 250);
}
.delete-tweet-popup {
  color: rgb(224, 36, 94);
  fill: rgb(224, 36, 94);
}
.popup-text-container {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.tweet-options-text-container {
  padding: 10px 20px 10px 0;
}

.popup-text-container:hover {
  background-color: rgba(245, 248, 250);
}

.profile {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0px;
  width: 220px;
  height: 40px;
  border-radius: 25px;
}
.bio {
  font-size: 15px;
  margin: 10px 0;
}

.profile:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.id-container {
  display: inline-block;
  margin-right: 10px;
  width: 55%;
}

.profile-name {
  font-weight: 800;
  font-size: 15px;
}

.profile-handle {
  opacity: 0.6;
  font-weight: 400;
  font-size: 15px;
}
.profile-bio {
  padding-top: 10px;
}
.profile-graphic-container {
  display: inline-block;
  position: relative;
}
.profile-graphic {
  height: 1.5rem;
  width: 1.5rem;
}

.profile-pic-container {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  position: relative;
  bottom: 10px;
}
.profile-pic-container-lg {
  bottom: 100px;
  height: 140px;
  width: 140px;
}
.profile-pic-container-med {
  margin-bottom: 0;
  width: 49px;
}
.profile-pic-container-sm {
  width: 38px;
}

.profile-pic-overlay {
  display: inline-block;
  height: 49px;
  width: 49px;
  position: absolute;
  bottom: 4px;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  z-index: 1;
}

.component {
  text-align: left;
  position: relative;
  height: 100vh;
  width: 600px;
  top: 0;
  left: 24vw;
}

.title-container {
  height: 50px;
  border: 1px solid rgb(230, 236, 240);
  border-top-width: 0;
  border-bottom-width: 0;
}

.notifications-title-container {
  height: 105px;
}

.title {
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  font-weight: 900;
  position: relative;
  top: 15px;
  padding-left: 10px;
}

.profile-title {
  position: unset;
  padding-left: 0;
}

.follow-title {
  position: unset;
  padding-left: 0;
}
.profile-main {
  border: 1px solid rgb(230, 236, 240);
}
.profile-main-title {
  position: unset;
  padding-left: 0;
}

.profile-main-info-container {
  position: relative;
  padding-left: 20px;
  bottom: 110px;
  margin-top: 20px;
}

.calendar-graphic {
  height: 1.5rem;
  display: inline-block;
}

.options-container {
  cursor: pointer;
  position: relative;
  text-align: center;
  top: 33px;
  height: 50px;
}
.follow-options {
  top: 0;
  border-bottom: 1px solid rgb(230, 236, 240);
}

.option {
  display: inline-block;
  width: 50%;
  color: rgb(101, 119, 134);
  font-weight: 700;
  height: 100%;
}
.option p {
  position: relative;
  top: 15px;
}
.option:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgb(29, 161, 242);
}
.option-selected {
  border-bottom: 2px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
}

.tweet-compose-container {
  padding: 10px;
  padding-bottom: 8px;
  border: 1px solid rgb(230, 236, 240);
}

.tweet-compose-footer {
  padding-right: 10px;
  left: 10%;
}

.sidebar-item-container {
  z-index: 1;
  cursor: pointer;
  display: block;
  padding: 10px;
  width: fit-content;
  border-radius: 25px;
  margin: 0px 10px 10px 10px;
}

.sidebar-item-container:hover {
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}

.sidebar-graphic {
  height: 1.75rem;
  display: inline-block;
  vertical-align: middle;
}
.sidebar-graphic-container {
  display: inline-block;
}

.sort-graphic {
  fill: rgba(29, 161, 242, 1);
  height: 1.5rem;
}
.sort-graphic-container {
  height: 1.5rem;
  float: right;
  position: relative;
  cursor: pointer;
  display: initial;
  padding: 10px;
  width: fit-content;
  border-radius: 25px;
  top: 5px;
  right: 5px;
}
.sort-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.message-graphic-container {
  height: 1.5rem;
  float: right;
  position: relative;
  cursor: pointer;
  display: initial;
  padding: 10px;
  width: fit-content;
  border-radius: 25px;
  top: 5px;
  right: 5px;
}
.message-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.message-graphic {
  fill: rgba(29, 161, 242, 1);
  height: 1.5rem;
}
.profile-header-graphic-container {
  margin-right: 25px;
  height: 1.5rem;
  float: left;
  position: relative;
  cursor: pointer;
  display: initial;
  padding: 5px;
  width: fit-content;
  border-radius: 25px;
  top: 5px;
  left: 10px;
}
.profile-header-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.profile-header-graphic {
  fill: rgba(29, 161, 242, 1);
  height: 1.5rem;
}
.tweet-compose-graphics {
  display: inline-block;
  margin-top: 5px;
}

.tweet-compose-graphic {
  fill: rgba(29, 161, 242, 1);
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.tweet-compose-graphic-container {
  display: inline-block;
  border-radius: 25px;
  height: 1.5rem;
  padding: 8px;
}

.tweet-graphic-item {
  margin-right: 80px;
  width: 50px;
}
.tweet-footer {
  padding-left: 60px;
}

.tweet-footer-count {
  display: inline-block;
}
.notifications-header-container div {
  display: inline-block;
  width: fit-content;
}
.notification-header-graphic {
  display: inline-block;
  width: fit-content;
  margin-left: 25px;
}
.notification-graphic-container {
  display: inline-block;
  cursor: pointer;
  border-radius: 25px;
  height: 2.25rem;
  width: 2.25rem;
}
.username {
  font-weight: 800;
}
.username:hover {
  text-decoration: underline;
}
.notification-main {
  margin-left: 75px;
  position: relative;
  bottom: 20px;
}
.action-user-container {
  margin: 10px;
  position: relative;
  bottom: 18px;
}
.action-user-container .profile-pic-container {
  margin: 0;
  position: unset;
}
.action-user-container .profile-pic {
  height: 30px;
}
.action-user-container .profile-pic-overlay {
  height: 30px;
}
.notification-graphic {
  height: 2.25rem;
  width: 2.25rem;
}
.new-follow-graphic {
  fill: rgb(29, 161, 242);
}
.new-retweet-graphic {
  fill: rgb(23, 191, 99);
}
.new-like-graphic {
  fill: rgb(224, 36, 94);
}

.tweet-graphic-container {
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  height: 1.25rem;
  width: 1.25rem;
  padding: 8px;
}

.tweet-graphic-item:hover .tweet-graphic-container {
  fill: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}
.tweet-graphic-item:hover .like-graphic {
  background-color: rgb(224, 36, 94, 0.1);
  fill: rgb(224, 36, 94);
}
.tweet-graphic-item:hover .retweet-graphic {
  background-color: rgba(23, 191, 99, 0.1);
  fill: rgba(23, 191, 99, 1);
}
.tweet-graphic-item:hover .tweet-footer-count {
  opacity: 1;
  color: rgba(29, 161, 242, 1);
}
.tweet-graphic-item:hover .like-count {
  color: rgb(224, 36, 94);
}
.tweet-footer-count {
  opacity: 0.5;
  font-size: 13px;
  position: relative;
  bottom: 5px;
}
.tweet-graphic {
  height: 1.25rem;
  width: 1.25rem;
  opacity: 0.5;
}
.like-graphic .tweet-graphic-selected {
  fill: rgb(224, 36, 94, 1);
  opacity: 1;
}
.retweet-graphic .tweet-graphic-selected {
  fill: rgba(23, 191, 99, 1);
  opacity: 1;
}
.retweet-label {
  opacity: 0.75;
  font-size: 13px;
  position: relative;
  left: 43px;
  padding: 5px;
}
.retweet-label div {
  display: inline-block;
  padding-right: 10px;
}
.retweet-label-graphic {
  height: 0.8rem;
  opacity: 0.75;
  position: relative;
  top: 2px;
}
.retweet-label:hover div {
  text-decoration: underline;
}

.popup-graphic-container {
  cursor: pointer;
  border-radius: 25px;
  height: 1.5rem;
  width: 1.5rem;
  padding: 8px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.popup-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.popup-graphic {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.5;
  fill: rgb(31, 127, 187);
}

.tweet-compose-graphic-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.main {
  height: fit-content !important;
  border: 1px solid rgb(230, 236, 240);
  border-bottom: 0;
  border-top: 0;
  min-height: 100%;
  padding-bottom: 10px;
}
.follow-main {
  border-top: 0;
}
.home-main {
  border-top-width: 9px;
  height: -webkit-fill-available;
  border-top: 8px solid rgb(230, 236, 240);
}
.break {
  width: 98%;
  height: 1px;
  background-color: rgb(230, 236, 240);
  margin-left: 10px;
}
.vertical-break {
  z-index: -1;
  width: 2px;
  height: 15%;
  background-color: rgb(202, 205, 206);
  position: absolute;
  display: inline-block;
  left: 25px;
}
.tweet-list-vertical-break {
  left: 33px;
  height: 150px;
}
.replies-container .tweet-list-vertical-break {
  display: none;
}
.large-vertical-break {
  height: 400px;
}
.overlay-vertical-break {
  top: 100px;
}

.reply-label {
  position: relative;
  left: 70px;
  top: 15px;
  font-size: 15px;
  color: rgb(101, 119, 134);
}
.tweet-footer div {
  display: inline-block;
}
.overlay-input-container {
  margin-top: 35px;
}
.overlay-target-container {
  margin-left: 2px;
}

.tweet-focus-footer .tweet-graphic-container {
  margin: 10px 45px;
}

.tweet-form-container {
  display: inline-block;
  position: static;
  margin-top: 10px;
  width: 88%;
  height: 100%;
}
.overlay-form-container {
  background-color: white;
  z-index: 999;
  top: 5vh;
  width: 600px;
  height: fit-content;
  position: fixed;
  left: 27vw;
  border-radius: 15px;
}

.overlay-form-container .tweet-compose-footer {
  padding: 25px 10px 10px 0;
}
.overlay-form-container .tweet-compose-graphics {
  text-align: left;
  float: left;
  padding-bottom: 10px;
}
.overlay-form-container .btn {
  left: unset;
}
.overlay-form-container .character-display-container {
  position: relative;
  top: 15px;
}
.overlay-top {
  height: 45px;
  border-bottom: 1px solid rgb(230, 236, 240);
  margin-bottom: 10px;
}
.profile-overlay-top {
  border-bottom: 0;
}
.profile-overlay-skip {
  float: right;
  margin: 10px;
  font-size: 15px;
  background-color: white;
  color: rgb(29, 161, 242);
  padding: 5px 0;
  width: 125px;
}
.profile-overlay-next {
  float: right;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px;
  width: 75px;
}
.profile-overlay-skip:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.profile-input-container {
  margin: 0 50px;
  background-color: rgb(245, 248, 250);
  border-bottom: 2px solid rgb(118, 118, 118);
}
.profile-input-container:focus {
  border-bottom-color: rgb(29, 161, 242);
}
.profile-input {
  background-color: rgb(245, 248, 250);
  padding-left: 10px;
  width: 90%;
}
.profile-form {
  height: 80vh;
}
.profile-form-title-container {
  margin-left: 20px;
  margin-bottom: 10px;
}
.profile-form-title-container .headline {
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 800;
}
.profile-form-logo {
  cursor: unset;
  height: 2.5rem;
  position: relative;
  left: 230px;
  top: 3px;
}
.profile-form-logo:hover {
  background-color: initial;
}
.label {
  font-size: 15px;
  color: rgb(101, 119, 134);
  opacity: 1;
  padding-left: 10px;
  background-color: rgb(245, 248, 250);
  width: 90%;
  cursor: default;
}

.selected {
  color: rgba(29, 161, 242, 1);
  border-bottom-color: rgba(29, 161, 242, 1);
}

.options-graphic-container {
  display: inline-block;
  padding: 10px;
}

.options-graphic {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: middle;
}

.visibility-container {
  cursor: pointer;
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 0px 5px 5px 5px;
  border-radius: 25px;
}
.visibility-container:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.visibility-graphic-container {
  display: inline-block;
}

.visibility-graphic {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  fill: rgba(29, 161, 242, 1);
  margin-top: 5px;
  vertical-align: middle;
}

.visibility-message {
  display: inline-block;
  color: rgba(29, 161, 242, 1);
  font-size: 13px;
  font-weight: 800;
  margin-left: 5px;
  vertical-align: -webkit-baseline-middle;
}

.character-display-container {
  vertical-align: middle;
  align-items: center;
  float: right;
  position: relative;
  right: 20px;
  top: 15px;
}

.character-display-graphic {
  transform: rotate(270deg);
  z-index: 2;
}

.char-count {
  text-align: center;
  position: relative;
  bottom: 30px;
  z-index: 1;
}
.profile-char-count {
  float: right;
  margin-right: 65px;
  margin-top: 5px;
  opacity: 0.6;
}
.profile-tweets-container {
  position: relative;
  bottom: 90px;
}
.tweet-container {
  text-align: left;
  min-height: 80px;
  cursor: pointer;
  border-top: 1px solid rgb(230, 236, 240);
}
.tweet {
  height: 100%;
  padding-top: 5px;
}
.tweet:hover {
  background-color: rgb(245, 248, 250);
}
.overlay-form-container .tweet-container {
  border-bottom: 0;
  cursor: unset;
}
.overlay-form-container .tweet-container:hover {
  background-color: initial;
}
.tweet-focus-container {
  cursor: unset;
  padding-top: 10px;
}
.tweet-focus-container:hover {
  background-color: initial;
}
.tweet-overlay {
  min-height: 80px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  padding-bottom: 11px;
  z-index: 999;
}
.tweet-focus-link {
  min-height: 80px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  padding-bottom: 11px;
  z-index: 998;
}
.tweet-form-photo {
  height: 100%;
  max-width: 400px;
  max-height: 280px;
  object-fit: cover;
  overflow: hidden;
}
.tweet-form-photo-container {
  height: 280px;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  background-color: rgb(146, 145, 145);
}
.photo-upload {
  margin-left: 20px;
  padding-top: 10px;
}
.error-message {
  color: red;
  padding-top: 10px;
  font-size: 14px;
}
.tweet-photo {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  max-width: 400px;
  max-height: 280px;
}
.tweet-photo-container {
  height: 280px;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  background-color: rgb(146, 145, 145);
  margin-top: 10px;
}
.tweet-form-photo-container .popup-graphic-container {
  fill: white;
  background-color: black;
  height: 1.25rem;
  width: 1.25rem;
  padding: 4px;
}
.tweet-form-photo-container .popup-graphic {
  fill: white;
  opacity: 1;
  height: 1.25rem;
  width: 1.25rem;
}
.overlay-form-container .tweet-form-photo-container {
  position: relative;
  right: 35px;
}
.profile-pic {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-pic-med {
  height: 49px;
}
.profile-pic-sm {
  height: 38px;
}
.profile-pic-lg {
  height: 140px;
  border-radius: 75px;
  border: 5px solid white;
}
.profile-pic-overlay-sm {
  height: 38px;
  width: 100%;
}
.profile-pic-overlay-med {
  height: 49px;
}
.profile-pic-overlay-lg {
  height: 140px;
  width: 140px;
  border-radius: 75px;
  left: 5px;
  top: 5px;
}
.header-image-container {
  width: 100%;
  height: 200px;
}

.default-header-image {
  background-color: rgb(204, 214, 221);
  width: 100%;
  height: 200px;
}
.header-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.tweet-main {
  display: inline-block;
  width: 88%;
  padding-top: 5px;
}
.tweet-header {
  width: fit-content;
}

.tweet-header div {
  display: inline-block;
  padding: 2px;
}
.tweet-focus-header div {
  display: block;
}
.tweet-focus-date-container {
  padding-top: 15px;
}
.tweet-focus-date-container div {
  display: inline-block;
  padding: 2px;
  color: rgb(101, 119, 134);
  opacity: 1;
}
.tweet-name {
  font-weight: 800;
}
.tweet-name:hover {
  text-decoration: underline;
}
.tweet-username {
  opacity: 0.5;
}
.tweet-date {
  opacity: 0.5;
}
.divider {
  opacity: 0.5;
  bottom: 4px;
  position: relative;
}
.tweet-text {
  padding-left: 3px;
  padding-top: 3px;
  overflow-wrap: anywhere;
}
.tweet-focus-text {
  font-size: 23px;
}
.tweet-body {
  padding: 0 15px 10px 15px;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.tweet-header-graphic-container {
  border-radius: 25px;
  height: 1rem;
  width: 1rem;
  padding: 6px !important;
  float: right;
  position: absolute;
  margin-bottom: 20px;
}
.tweet-header-graphic-container:hover {
  fill: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}

.tweet-header-graphic {
  height: 1rem;
  width: 1rem;
  opacity: 0.5;
}
.popup-option-container {
  position: absolute;
  right: 35px;
}
.graphic-selected {
  color: rgb(29, 161, 242);
  fill: rgb(29, 161, 242);
}
.notification-count {
  position: absolute;
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 11px;
  padding: 4px;
  border-radius: 25px;
  left: 33px;
}
.unread {
  background-color: rgb(29, 161, 242, 0.1);
}
.recommendations-container {
  position: fixed;
  top: 0;
  right: 5vw;
  background-color: rgb(245, 248, 250);
  width: 25vw;
  border-radius: 10px;
}
.recommendations-container-main {
  position: unset;
  background-color: initial;
  width: 100%;
}
.user-title-container {
  border-bottom: 1px solid rgb(230, 236, 240);
  width: 100%;
  height: 50px;
}
.profile-title-container {
  border-bottom: 0;
}
.follow-title-container {
  border-bottom: 0;
}
.messages-title-container {
  width: 390px;
  border-bottom-width: 1px;
}
.tweet-focus-title-container {
  border-bottom: 0;
}
.messages-container {
  display: inline-block;
  border-right: 1px solid rgb(230, 236, 240);
  height: 100%;
  width: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
}
.tweet-focus-option-container .tweet-header-graphic-container {
  bottom: 0;
}
.messages-main {
  height: 100%;
  width: 390px;
  display: inline-block;
  border: 1px solid rgb(230, 236, 240);
  border-top: 0;
}
.users-container {
  cursor: pointer;
  border-bottom: 1px solid rgb(230, 236, 240);
  height: 100%;
}
.recommendations-container .users-container {
  border: 0;
}
.user-container {
  border-top: 1px solid rgb(230, 236, 240);
  padding-top: 15px;
}
.user-container:hover {
  background-color: rgb(240, 242, 243);
}
.profile-information-container {
  display: inline-block;
  margin-top: 10px;
  max-width: 400px;
}
.profile-info-container {
  position: relative;
  margin-left: 75px;
}
.follow-btn {
  float: right;
  border: 1px solid rgba(29, 161, 242, 1);
  background-color: white;
  color: rgba(29, 161, 242, 1);
  padding: 5px 0px;
  margin: 15px;
}
.unfollow-btn {
  padding: 5px 10px;
  margin: 15px;
  float: right;
  transition-duration: 0.2s;
}
.follow-btn:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.show-more {
  color: rgb(27, 149, 224);
  padding: 15px;
}
.show-more:hover {
  background-color: rgb(240, 242, 243);
  border-radius: 0 0 10px 10px;
}
.recommendations-profile-name:hover {
  text-decoration: underline;
}
.spinning-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgba(29, 161, 242, 0.2);
  border-left-color: rgb(29, 161, 242);
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 6rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.headline {
  font-size: 19px;
  font-weight: 700;
}
.sub-headline {
  font-size: 15px;
  color: rgb(101, 119, 134);
}
.calendar-detail {
  font-size: 15px;
  color: rgb(101, 119, 134);
  display: inline-block;
  bottom: 6px;
  position: relative;
  left: 4px;
}
.calendar-container {
  margin-top: 10px;
}
.sub-title {
  font-size: 13px;
  color: rgb(101, 119, 134);
  margin-top: 5px;
}
.tweetlist-info-container {
  text-align: -webkit-center;
  margin: 0;
  position: relative;
  bottom: 50px;
}
.follow-message-container {
  text-align: -webkit-center;
  margin: 0;
  position: relative;
  top: 50px;
}
.notifications-info-container {
  text-align: -webkit-center;
}
.overlay-target-container .tweet-container {
  border-top: 0;
}
.sign-in-btn {
  width: 550px;
}
.notification-item-container {
  border-bottom: 1px solid rgb(230, 236, 240);
  min-height: 100px;
  padding-top: 5px;
  cursor: pointer;
}
.notification-item-container:hover {
  background-color: rgb(240, 242, 243);
}
.notification-item-container .profile-graphic {
  fill: rgb(29, 161, 242);
  cursor: pointer;
}
.notification-tweet-text {
  color: rgb(101, 119, 134);
  font-size: 15px;
  margin-top: 10px;
}

.message-info-container {
  text-align: -webkit-center;
  margin-top: 37%;
}
.welcome-message-container {
  margin-top: 90px;
}
.message-info-title-container {
  margin-top: 25%;
  padding: 0px 20px;
}
.message-info-item {
  padding: 5px;
}
.message-btn {
  margin-top: 20px;
  max-width: 190px;
}
.follow-count {
  display: inline-block;
  font-weight: 800;
}
.follow-count-label {
  display: inline-block;
  opacity: 0.5;
}
.follow-count-item {
  padding-right: 20px;
  display: inline-block;
  cursor: pointer;
}
.follow-count-item:hover p {
  text-decoration: underline;
  text-decoration-color: black;
}
.follow-info-container {
  position: relative;
  margin-top: 5px;
}

.profile-options {
  top: auto;
  bottom: 90px;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
}
.profile-backdrop {
  left: 0;
}
.tweet-form-overlay {
  width: 500px;
  border: 1px solid rgb(230, 236, 240);
  border-radius: 25px;
  top: 120px;
}
.image-picker {
  width: 500px !important;
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 15px !important;
  height: 400px !important;
}
.hnwFJm {
  width: 450px !important;
}
.close-picker {
  display: none;
}
.giphy-gif {
  width: 200px !important;
}

.sidebar-compose-graphic-container {
  cursor: pointer;
  background-color: rgba(29, 161, 242, 1);
  fill: white;
  height: 1.5rem;
  width: 1.5rem;
  padding: 15px;
  border-radius: 30px;
  margin: 10px;
  display: none;
}
.sidebar-compose-graphic-container:hover {
  background-color: rgb(26, 145, 218);
}
.sidebar-compose-graphic {
  height: 1.5rem;
  width: 1.5rem;
}
@media screen and (max-width: 1300px) {
  .sidebar-label {
    display: none;
  }
  .sidebar {
    width: 9vw;
  }
  .component {
    left: 15vw;
  }
  .sidebar-compose-graphic-container {
    display: inline-block;
  }
  .sidebar-tweet-button {
    display: none;
  }
  .id-container {
    display: none;
  }
  .profile-graphic-container {
    display: none;
  }
  .profile {
    width: fit-content;
    border-radius: 30px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1205px) {
  .recommendations-container {
    display: none;
  }
  .main .recommendations-container {
    display: block;
  }
}
.follow-main .users-container {
  border-bottom: 0;
}
.follow-main .user-container {
  border-bottom: 1px solid rgb(230, 236, 240);
}
